* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(./fondo.avif);
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 3%;
}

.reserva {
    width: 100%;
    float: left;
}

h1 {
    color: red;
}

.columna {
    width: 33%;
    /* height: auto; */
    float: left;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.columna2 {
    width: 33%;
    /* height: auto; */
    float: left;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.columna3 {
    width: 33%;
    /* height: auto; */
    float: left;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 80%;
    /* height: 40%; */
}

a {
    width: 40%;
}