* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding-top: 5%;
}

.columna {
    width: 100%;
    height: auto;
    float: left;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.formulario {
    width: 15%;
    margin-top: 5%;
    margin-right: 5%;
    border: solid 1px black;
    padding: 1%;
}

.tabla_resultado {
    width: 70%;
    border: none;
}

tr {
    text-align: center;
    white-space: nowrap;
}

th {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

td {
    width: 20%;
    border: 1px solid black;
}

@media (max-width: 1675px) {
    .formulario {
        width: 16%;
        margin-top: 10%;
        margin-right: 0%;
    }
    .tabla_resultado {
        width: 80%;
    }
    .tabla_resultado {
        margin-top: 5%;
    }
}

@media (max-width: 1546px) {
    .formulario {
        width: 16%;
        margin-top: 15%;
        margin-right: 0%;
    }
    .tabla_resultado {
        width: 80%;
    }
    .tabla_resultado {
        margin-top: 5%;
    }
}

@media (max-width: 1148px) {
    .formulario {
        width: 20%;
        margin-top: 0%;
        margin-right: 0%;
    }
    .tabla_resultado {
        width: 70%;
        margin-top: 0%;
    }
}

@media (max-width: 800px) {
    .formulario {
        width: 100%;
        margin-top: 0%;
        margin-right: 0%;
    }
    .tabla_resultado {
        width: 100%;
        margin-top: 0%;
    }
}